

@import url('https://fonts.googleapis.com/css? family = Roboto');
@import url('https://fonts.googleapis.com/css2? family = Sansita+Swashed:wght@300&display=swap');



.img{
    width: 100% ;
}

.body{
    background: #E2E2E2;
    font-family: 'Sansita Swashed', cursive;
}
.categoria {
   
    width: 250px;
    height: 250px;
    border: 1em solid transparent;
    background: linear-gradient(white, white) padding-box,
        repeating-linear-gradient(-45deg,blue 0, blue 12.5%,
        transparent 0, transparent 25%)
  }

.portafolio{
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.portafolio h2{
    text-align: center;
    font-size: 30px;
    margin: 15px 0px 20px;
    
}
.portafolio-container{
    display: flex;
    justify-content: space-between;
    
    height: 280px;
}

.portafolio-item{
    width: 50%;
    position: relative;
    overflow: hidden;
    height: 250px;

}

.portafolio-img{
   width: 250px;
   height: 250px;
    
    transition: all 0.5s;
}

.portafolio-text{
    position: absolute;;
    bottom: 5px;
    padding: 1px;
   
    background: aliceblue;
    color: black;
    transform: translateY(100%);

    transition: all 0.5s ease-out;
}

.portafolio-text p{
    text-align: justify;
}

.portafolio-item:hover .portafolio-text{
 
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.portafolio-item:hover .portafolio-img{
 
   -webkit-transform:  scale(1.15);
   -ms-transform: translateY(1.15);
   transform: scale(1.15);
}

.collapse {
     background-color: #12a1f3 ;
}

.divv{

    background-color: #76D7C4 ;
    text-align: right;
    height: 30px;
    width: 100%;
    padding-right: 2em  ;
    padding-top: 0.2em;
    
}

.headerr{
  background-color: #76D7C4 ;
  text-align: right;
  height: 44px;
  width: 100%;
  padding-right: 1em  ;
  padding-top: 0em;

}
.dic a{
    color: brown;
   
}


.inversiones{
    color: black;
    text-align: center;
    height: 100px;
   text-align: center;
   padding-top: 00.8em;

}


#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#000;
    color:rgb(16, 139, 155);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#281e85;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.javi{

    background-color: #2dbbc5;
}
.producto button{
    background-color: darkturquoise;
    width: 120px;
}
.producto input{
   
    width: 500px;
}


webdesigntuts-workshop {
	background: #151515;
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.webdesigntuts-workshop:before,
.webdesigntuts-workshop:after {
	content: '';
	display: block;	
	left: 50%;
	margin: 0 0 0 -400px;
	position: absolute;
}






.webdesigntuts-workshop input {
	background: (#F8C471);
	background: -webkit-linear-gradient(#F8C471 , #F8C471 );	
	background: -moz-linear-gradient(#F8C471 ,white);	
	background: -o-linear-gradient(#F8C471 ,#F8C471 );	
	background: -ms-linear-gradient(#F8C471 , #F8C471 );	
	background: linear-gradient(#F8C471 , #F8C471 );	
	border: 5px solid rgb(211, 123, 71);
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #d89c74 ;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 20px 10px;
	text-shadow: 0 -1px 0 #F8C471 ;
	width: 600px;
}


.webdesigntuts-workshop input:focus {
	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: -webkit-linear-gradient(#333933, #222922);
	background: -moz-linear-gradient(#333933, #222922);
	background: -o-linear-gradient(#333933, #222922);
	background: -ms-linear-gradient(#333933, #222922);
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 white;
	color: white;
	outline: none;
}

.webdesigntuts-workshop button {
	background: white;
	background: -webkit-linear-gradient(#333, #222);
	background: -moz-linear-gradient(#333, #222);
	background: -o-linear-gradient(#333, #222);
	background: -ms-linear-gradient(#333, #222);
	background: linear-gradient(#333, #222);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border: 4px solid #444;
	border-left-color:white;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 white;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}	

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);	
	background: -moz-linear-gradient(#393939, #292929);	
	background: -o-linear-gradient(#393939, #292929);	
	background: -ms-linear-gradient(#393939, #292929);	
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.webdesigntuts-workshop button:active {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);
	background: -moz-linear-gradient(#393939, #292929);
	background: -o-linear-gradient(#393939, #292929);
	background: -ms-linear-gradient(#393939, #292929);
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 rgb(222, 229, 233), inset 1px 0 1px #222;
	top: 1px;
}

@-webkit-keyframes glow {
    10% {
		border-color: black;
		box-shadow: 0 0 5px black, inset 0 0 5px  black, 0 2px 0 rgb(230, 224, 224);
    }	
    100% {
		border-color: black;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 rgb(245, 240, 240);
    }
}

.videoo{

    width: 50%;
    height: 300px;
    float: left;
    

}

.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:180px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:rgb(159, 230, 206);
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-50px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
    width:32px;
    height:32px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}

/*Index*/

.tecno{
    height: 250px;
}
/*Index*/
* {
  margin: 0;
}
html, body {
  height: 200px;
}
.wrapper {
  min-height: calc(100% - 4rem);
}
.footer {
  height: 4rem;
  background-color: #e2e2e2
}


.tecno div{

    width: 50%;
    height: 180px;
    float: left;

    text-align: left;
}
.tecno div iframe{


    width: 50%;
    float:left;
    margin:30px 50px;
    margin-left:200px;
    width:400px;
    height:200px;
}


/*Index*/

  html, body {
    height: 200px;
  }
  .wrapper {
    min-height: calc(100% - 4rem);
  }
  .footer {
    height: 4rem;
    background-color: #e2e2e2
  }

  /*Producto*/

  *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #E0E4E5;
	font-family: 'Open Sans', sans-serif;
}

.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #494B4D;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #E84C3D;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #2D3E50;
}

/* PRODUCTOS ============*/

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #2D3E50;

	color: #fff;
	text-align: center;
	text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}


/*Login*/

*{
  margin: 0;
  padding: 0;
  font-family: Josefin Sans;
}
.contenedor{
  background-image: url(rsc/img/fondo.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
header{
  width: 80%;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0,.3)
}
header h1{
  margin-left: 30px;
  font-family: montez;
  font-size: 30px;
}
header a{
  margin-right: 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  transition: all ease 300ms;
}
header a:hover{
  color: rgb(180, 210, 212);
}
.login{
  margin-top: 130px;
  margin-bottom: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
}
.fondo{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 5px;
}
.fondo img{
  margin-top: -75px;
  margin-bottom: 40px;
  width: 25%;
  border-radius: 50%;
  border: solid #fff 5px;
}
.fondo h3{
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}
.fondo form{
  width: 70%;
}
.fondo form span{
  margin-right:0px;
  background-color: rgba(255, 255, 255,.6);
  color: #000;
  border:solid 7px rgba(255, 255, 255,.01);
  border-bottom: solid 9.5px rgba(255, 255, 255,.01);
  border-top: solid 9px rgba(255, 255, 255,.01);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.inp{
  box-shadow: 0;
  border: 0;
  background-color: rgba(255, 255, 255, .1);
  width: 90%;
  margin-bottom: 35px;
  height: 30px;
  border: solid 2px rgba(255,255,255,.5);
  font-size: 20px;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
  transition: all 250ms ease;
}
.fondo form .inp:focus{
  outline:0px;
  background-color: rgba(255, 255, 255, .6);
  border: solid 2px rgba(255,255,255,.01);
  color: #000;
}
.boton{
  width: 100%;
  height: 30px;
  font-size: 22px;
  border: 0;
  text-align: center;
  background: rgba(255, 0, 0, 0.0);
  border-bottom: solid 1px #fff;
  color: #fff;
  margin-top: 50px;
  transition: all 200ms ease;
}
.boton:hover{
  width: 120%;
  margin-left: -10%;
}
.boton:active{
  background-color: rgba(255, 255, 255,0.2);
  outline: 0;
  border: 0;
  border-radius: 5px;
}
.boton:focus{
  background-color: rgba(255, 255, 255,0.2);
  outline: 0;
  border: 0;
  border-radius: 5px;
}
.he{
  text-decoration: none;
  text-align: right;
  color: #fff;
  font-size: 18px;
  transition: all 300ms ease;
}
.he:hover{
  color: rgb(184, 203, 214);
}
.boton:hover{
  border: 120%;
}

/*Transacional*/
/*ModTransacional*/
.Transacional {
  background: #393 !important;
  color: #393;
}

